body{
    min-height: 90vh;
}

.poke_name{
    color: white;
    
}

.poke_type{
    color: white;
    font-weight: bold;
    font-size: large;
    margin-bottom: 130px;
}

.poke_detail{
    margin-top: 250px;
}

